body {
    background-color: pink;
}
.cat-div {
    display: flex;
    align-items: center;
    margin: 4rem 1em;
    gap: 4em;
}

.meow {
    display: none;
}

.cat:hover ~ .meow {
    display: block;
}

.meow-text {
    display:none;
}

.cat:hover ~ .meow-text {
    display:block;
}

.cat:hover {
    cursor: pointer;
    display: none;
}

.pictures-div {
    display:flex;
    flex-wrap: wrap;
}

.signature-div {
    height: 70vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
}

